<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/destinations/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p>Please first ensure that the destination is not in the dropdown
    <select>
      <% destinations.forEach(function(destination) { %> 
        <option><%= destination.airport %> </option>
      <% }) %> 
    </select>
  </p>

  <h1><%= destinations %></h1>
  <form id="add-destination-form" action="/destinations" method="POST">
    <label for="airport-input">Airport:</label>
    <input type="text" name="airport" id="airport-input" placeholder="Enter Destination here">
    <button type="submit">Add Destination</button>
  </form>

  
  <% if (flight.destinations.length) { %>
    <table>
      <thead>
        <tr>
          <th>Airport</th>
        </tr>
      </thead>
      <tbody>
       
        <% flight.destinations.forEach(function(destination) { %>
          <tr>
            <td><%= destination.createdAt.toLocaleDateString() %></td>
            <td><%= destination.airport %></td>
            
          </tr>
        <% }) %>
        <tr>
          <td colspan="2"></td>
          <td>
            <strong><%= (total / flight.destinations.length).toFixed(1) %></strong>
          </td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h3>No Destination Yet</h3>
  <% } %>
</main>

<%- include("../partials/footer") %> 