<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/destinations/new.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <p>Please first ensure that the destination is not in the dropdown
    <select>
      <% destinations.forEach(function(destination) { %> 
        <option><%= destination.airport %> </option>
      <% }) %> 
    </select>
  </p>
  <form id="add-destination-form" action="/destinations" method="POST">
    <label for="airport-input">Airport:</label>
    <input type="text" name="airport" id="airport-input"placeholder="Enter Destination here">
   
    <button type="submit">Add destination</button>
  </form>
  <h1><%= tickets %></h1>
  <% if (movie.tickets.length) { %>
    <table>
      <thead>
        <tr>
          <th>Seat No.</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
       
        <% movie.tickets.forEach(function(ticket) { %>
          <tr>
            <td><%= ticket.createdAt.toLocaleDateString() %></td>
            <td><%= ticket.content %></td>
            <td><%= ticket.rating %></td>
          </tr>
        <% }) %>
        <tr>
          <td colspan="2"></td>
          <td>
            <strong><%= (total / movie.tickets.length).toFixed(1) %></strong>
          </td>
        </tr>
      </tbody>
    </table>
  <% } else { %>
    <h3>No tickets Yet</h3>
  <% } %>
</main>

<%- include("../partials/footer") %> 