<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1> Flight Details </h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Departs: </div>
    <div><%= flight.flightNo%></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
    <div>Tickets: </div>
    <div><%= flight.tickets%></div>
    <div>Destination: </div>
    <ul>
      <%let destEnt = [] %>
      <% flight.destinations.forEach(desti => { %>
        <li>
          <%destEnt.push(desti.destination) = [] %>
          <%= desti.destination %>
        </li>
      <% }) %>
    </ul>
  </section>
  
  <form
    id="add-dest-to-"
    action="/flights/<%= flight._id %>/destinations"
    method="POST">
    <select name="destinationId">
      <% destNotInDests.forEach(destination => { %>
        <% if (!destEnt.includes(destination.destination)) { %>
        <option value="<%= destination._id %>"><%= destination.destination%></option>
      <% }) %>
      <% }) %>
    </select>
    <button type="submit">Add to destination</button>
  </form>
  <h2>Add New Tickets</h2>
  <form id = add-ticket-form action="/flights/<%= flight._id %>/tickets" class="tickets" method= "POST">
    <label for="seat-texts">Seat No.:</label>
    <input type="string" name="seat" placeholder="Enter Seat No.(ex. A1, F99): here" required pattern="[A-F][1-9]\d?">
    <label for="price-texts">Price:</label>
    <input type="number" name="price" id="Price-input"placeholder="Enter Price in $">
    <button type="submit">Add Ticket</button>
 
  </form>

  
<% if (flight.tickets.length) { %>
  <table>
    <thead>
      <tr>
        <th>Seat No.</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
     
      <% flight.tickets.forEach(function(ticket) { %>
        <tr>
          <td><%= ticket.createdAt.toLocaleDateString() %></td>
          <td><%= ticket.seat %></td>
          <td><%= ticket.price %></td>
          <td><form action = "/flight._id%>/<%= ticket._id %> ticket._id %>?_method-DELETE"
          class="delete-form"
          method="POST>
        <button type="submit"></button>
        </form>
        </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h3>No Ticket Yet</h3>
<% } %>
</main>
  
<%- include('../partials/footer') %>